{% extends "layout.html" %}
{% block body %}
<div class="span6">
  <div class="span12">
    <h4>Browse all Logs</h4>
    <a href="/logs" class="btn btn-warning">Show me all logs</a>
    <hr />
    <h4>Browse all Customers</h4>
    <a href="/customers" class="btn btn-info">Show me all customers</a>
  </div>
</div>
<div class="span6">
  <div class="span12">
    <h4>About this App</h4>
    <p>Welcome to Couchbase WebNutshell!</p>
    <p>This application helps you to get started on application
        development with Couchbase. It shows how to create, update and
        delete documents and how to work with JSON documents.</p>
  </div>
</div>

{% endblock %}
